*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

input[type='submit'] {
  display: block;
  margin: 10px auto 0 auto;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: green;
  color: white;
}
input[type='submit']:hover {
  background-color: rgb(95, 142, 25);
  /* color: green; */
  font-weight: bold;
}

.container {
  margin: 50px auto;
  border: 5px solid green;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.progressBar {
  height: 10px;
  background-color: rgb(255, 111, 111);
}

.progressBarContainer {
  border: 2px solid black;
  width: 500px;
  margin: 0 auto;
}
